---
// SPDX-FileCopyrightText: Simon Schneegans <code@simonschneegans.de>
// SPDX-License-Identifier: MIT

import { Icon } from '@astrojs/starlight/components';
---

<div class="social sl-flex">
  Share page:

  <a
    href={`https://reddit.com/submit?url=${Astro.url.href}&title=Kando: ${Astro.locals.starlightRoute.entry.data.title}`}
    rel="noopener noreferrer"
    target="_blank">
    <Icon name="reddit" />
  </a>

  <a
    href={`https://x.com/intent/tweet?url=${Astro.url.href}&text=Kando: ${Astro.locals.starlightRoute.entry.data.title}`}
    rel="noopener noreferrer"
    target="_blank">
    <Icon name="x.com" />
  </a>

  <a
    href={`https://www.facebook.com/sharer/sharer.php?u=${Astro.url.href}`}
    rel="noopener noreferrer"
    target="_blank">
    <Icon name="facebook" />
  </a>

  <a
    href={`https://www.linkedin.com/sharing/share-offsite/?url=${Astro.url.href}&summary=Kando: ${Astro.locals.starlightRoute.entry.data.title}`}
    rel="noopener noreferrer"
    target="_blank">
    <Icon name="linkedin" />
  </a>

  <a
    href={`mailto:?subject=Kando: ${Astro.locals.starlightRoute.entry.data.title}&body=${Astro.url.href}`}
    rel="noopener noreferrer"
    target="_blank">
    <Icon name="email" />
  </a>
</div>

<style>
  .social {
    gap: 0.5rem;
    align-items: center;
  }

  a {
    margin-top: 0.3rem;
    text-decoration: none;
    color: var(--sl-color-gray-3);
  }

  a:hover {
    color: var(--sl-color-white);
  }
</style>
